<div class="d-flex flex-wrap">
    <div 
    id="title" class="col-12 d-flex justify-content-center align-items-center">
        <h2>EDUCACION</h2>
    </div>
    <div id="card"
    class="d-flex col-12 col-md-6">
        <div class="col-4">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
        </div>
        <div class="col-8">
            <h3>C.P.E.M. N° 80</h3>
            <p>Tecnico en Gestion de Proyectos Audovisuales</p>
            <p>inicio-final</p>
        </div>
    </div>
    <div id="card"
    class="d-flex col-12 col-md-6">
        <div class="col-4">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
        </div>
        <div class="col-8">
            <h3>C.P.E.M. N° 80</h3>
            <p>Tecnico en Gestion de Proyectos Audovisuales</p>
            <p>inicio-final</p>
        </div>
    </div>
        <div id="card"
    class="d-flex col-12 col-md-6">
        <div class="col-4">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
        </div>
        <div class="col-8">
            <h3>C.P.E.M. N° 80</h3>
            <p>Tecnico en Gestion de Proyectos Audovisuales</p>
            <p>inicio-final</p>
        </div>
    </div>

</div>