.sidebar{
    height: 100rem;
}

.img{
    width: 7em;
}

.btn{
    width: 100%;
    border-radius: 0;
}

a{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: black;
}

.login,
.socialmedia,
.router{
    margin-top: 1.2em;
}