<div class="sidebar d-flex flex-column align-items-around flex-wrap">
  <div class="logoArgProg">
    <img
      class="img"
      src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png"
    />
  </div>
  <div class="login">
    <button class="btn btn-danger"><strong>Login</strong></button>
  </div>
  <div
    class="d-flex flex-wrap flex-column justify-content-center align-items-center router"
  >
  <button class="btn btn-danger"><a href="#"><strong>About</strong></a></button>
  <button class="btn btn-danger"><a href="#"><strong>Educacion</strong></a></button>
  <button class="btn btn-danger"><a href="#"><strong>Experiencia</strong></a></button>
  <button class="btn btn-danger"><a href="#"><strong>Proyectos</strong></a></button>
  <button class="btn btn-danger"><a href="#"><strong>Skills</strong></a></button>
  </div>
  <div class="d-flex flex-wrap flex-column justify-content-center align-items-center socialmedia">
    <button class="btn btn-danger"><a href="#"><strong>GitGub</strong></a></button>
    <button class="btn btn-danger"><a href="#"><strong>Linkedin</strong></a></button>
    <button class="btn btn-danger"><a href="#"><strong>Correo</strong></a></button>
  </div>
</div>
