<div class="sidebar d-flex flex-column align-items-around flex-wrap">
  <div class="logoArgProg">
    <img
      class="img"
      src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1653341386/APLogo-20-20.png"
    />
  </div>
  <div class="login">
    <button class="btn btn-danger">Login</button>
  </div>
  <div
    class="d-flex flex-wrap flex-column justify-content-center align-items-center router"
  >
    <a href="#">About</a>
    <a href="#">Educacion</a>
    <a href="#">Experiencia</a>
    <a href="#">Proyectos</a>
    <a href="#">Skills</a>
  </div>
  <div class="d-flex flex-wrap flex-column justify-content-center align-items-center socialmedia">
    <a href="#">GitHub</a>
    <a href="#">Linkedin</a>
    <a href="#">Correo</a>
  </div>
</div>
